<!--<h2>Categories</h2>-->

<ngb-tabset class="nav nav-tabs" (tabChange)="onSelect($event)">
  <ng-container *ngFor='let category of categories'>
    <ng-container *ngIf="jokeService.fetchedJokes[category]">
        <ngb-tab
        [class.selected]="category === selectedCategory"
        (click)="onSelect(category)"
        title="{{category}} {{jokeService.fetchedJokes[category].likeCount}}"
        id="{{category}}">
      
        </ngb-tab>
    </ng-container>
    <ng-container *ngIf="!jokeService.fetchedJokes[category]">

        <ngb-tab
        [class.selected]="category === selectedCategory"
        (click)="onSelect(category)"
        title="{{category}} 0"
        id="{{category}}">

        </ngb-tab>
    </ng-container>
  </ng-container>
</ngb-tabset>

<app-jokelist [category]="selectedCategory"></app-jokelist>
